[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=gcp_appUser
WorkingDirectory=/home/gcp_appUser/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target